
* {
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

body{
    margin: 0;
}

.header {
    background-color: burlywood;
   
    text-align: center;
    padding: 20px;
  
}

.topnav{
    background-color: rgb(243, 216, 181);
    padding: 20px;
    text-align: center;
   
}

.topnav a {
color: black;
padding: 20px;
text-decoration: none;

}

.topnav a:hover{
    background-color: blanchedalmond;
    color: rgb(92, 53, 2);
}

.content{
display: flex;
padding: 10px;
}

.cont-child-img{
    flex: 1;
    padding: 10px;
    margin-left: 20px; ;
    
}

.cont-child1{
flex: 1;
padding: 10px;
}

.cont-child2{
    flex: 1;
    padding: 10px;
}

.cont-child3{
    flex: 1;
    padding: 10px;

}

.cont-4{
    padding: 20px;
    margin: 20px;
    
}

@media (max-width:500px){
    .content {
        flex-direction: column; /* vilket håll containern ska lägga sig, column lägger dom på varandra vertikalt top till bottom.*/
      }
 } 