*{
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: 'PT Sans', sans-serif;
}

body{
    margin: 0;
}

.header{

    text-align: center;
    padding: 20px;
}

.topnav{
    background-color: bisque;
    padding: 20px;
    text-align: center;
    
}

.topnav a {
background-color: rgb(207, 160, 125);
padding: 20px;
text-decoration: none;
color: white;
}

.topnav a:hover{
    background-color: rgb(252, 206, 138);
    color: black;
}

.content{
display: flex;
padding: 10px;
}

.cont-child-img{
    flex: 1;
    padding: 10px;
    margin: left 20px; ;
    text-align: center;
}

.cont-child1{
flex: 1;
padding: 10px;
}

.cont-child2{
    flex: 1;
    padding: 10px;
}

.cont-child3{
    flex: 1;
   padding: 10px;

}